<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @post.image ,class:"item-box-img" %>  
    </div>
    

    <% if user_signed_in? %>
      <% if current_user == @post.user %> 
        <%= link_to '投稿の編集', edit_post_path, method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', post_path(@post.id), method: :delete, class:'item-destroy' %>
     <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= simple_format(@post.explanation) %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
          </tr>
          <tr>
          <th class="detail-item">recipe</th>
          <td class="detail-value"><%= simple_format(@post.recipe) %></td>
        </tr>
  
      </tbody>
    </table>
    
    <% if user_signed_in? %>
    <div class="option">
      <div class="favorite-btn">
        <% if !Favorite.exists?(user_id:current_user.id,post_id:@post.id) %>
    <%= link_to "お気に入り",post_add_path(@post),method: :post %>
    <% else %>
    <%= link_to "お気に入り解除",post_add_path(@post),method: :delete %>
    <% end %>
    </div>
  </div>
  <% end %>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-item-btn">
      後ろの投稿 ＞
    </a>
  </div>
  <%# <a href="#" class='another-item'><%= @post.category.name %>
  <%# をもっと見る</a> %>
</div>
