<%= image_tag @circle.image, class: "rounded mx-auto d-block" %>
<div class="text-center">
  <h1 class="display-4 my-3"><%= @circle.name %></h1>
<span class="badge rounded-pill bg-light text-dark"><%= @circle.category.name %></span>
<p class="my-0.5">131 members</p>
<p class="lead my-3"><%= @circle.explanation %></p>
</div>
<%# 
<%= link_to new_circle_topic_path do %>
<%# <button type="button" class="btn btn-outline-danger mx-auto d-block my-3">参加する</button> %>

<div class="text-center">
  <p class="display-4 mt-5">topics</p>


<%= link_to(new_topic_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>


      <div class="row">

          <% if @topics != nil %>
            <% @topics.each do |topic| %>
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <%= link_to topic_path(topic) do %>
                      <%= image_tag topic.image, class: "card-img-top" %>
                      <div class="card-body">
                        <h4 class="card-title">
                          <%= topic.name %>
                        </h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    <% end %>
                  </div>
                </div>
            <% end %>
          <% end %>

      </div>